<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        /*IMAGEN DE LA IZQUIERDA*/
        .bg {
        background-image: url("{% static 'img/coretechlogo.jpg' %}");
        background-position: center center;
}

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="{% static 'img/LogoCoreTech.png' %}" alt="Logo CoreTech" width="40" height="34" class="d-inline-block align-text-top">
            <a class="navbar-brand" href="{% url 'index' %}">CoreTech</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><i class='bx bxs-home'></i> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'acercade' %}"><i class='bx bxs-contact'></i> Quiénes somos</a>
                    </li>
                    <li class="nav-itemCarrito">
                        <a class="nav-link active" aria-current="page" href="{% url 'ver_carrito' %}">
                            <i class='bx bx-cart-download'></i> Carro de compras
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'cuenta' %}"><i class='bx bx-user'></i> Cuenta</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categoria
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'GamaAlta' %}">Gama Alta</a></li>
                            <li><a class="dropdown-item" href="{% url 'GamaMedia' %}">Gama Media</a></li>
                            <li><a class="dropdown-item" href="{% url 'GamaBaja' %}">Gama Baja</a></li>
                        </ul>
                    </li>
                    {% if request.user.is_authenticated and request.user.email == "admin@gmail.com" %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'agregarProducto' %}"><i class='bx bxs-plus-square'></i> Agregar Producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'listaProductos' %}"><i class='bx bx-list-ul'></i> Lista de Productos</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
                    <a class="btn btn-primary" href="{% url 'index' %}" role="button">Buscar</a>
                </form>
            </div>
        </div>
    </nav>
    <!-- APARTADO DE INICIO SESION -->
    <div class="primera segunda">
      <!-- Registrar -->
      <div class="container-form register">
         <div class="information">
             <div class="info-childs">
                 <h2>Bienvenido</h2>
                 <p>Si estas registrado Inicia Sesión con tus datos</p>
                 <input type="button" value="Iniciar Sesión" id="sign-in">
             </div>
         </div>
         <div class="form-information">
             <div class="form-information-childs">
                 <h2>Crear Cuenta</h2>
                 <div class="icons">
                  <i class='bx bxl-google'></i>
                  <i class='bx bxl-facebook'></i>
                  <i class='bx bxl-apple'></i>
                 </div>
                 <p>Usar tu correo para registrarte</p>
                 <form class="form" id="miFormulario" method="POST" action="{% url 'register' %}">
                     {% csrf_token %}
                     <label>
                         <i class='bx bx-user'></i>
                         <input type="text" name="nombre" id="nombre" placeholder="Nombre Completo">
                     </label>
                     <label>
                          <i class='bx bx-user'></i>
                          <input type="text" name="user" id="user" placeholder="Usuario">
                     </label>
                     <label>
                          <i class="bx bx-phone"></i>
                          <input type="text" name="fono" id="fono" placeholder="Teléfono (9XXXXXXXX)">
                     </label>
                     <label>
                         <i class='bx bx-envelope'></i>
                         <input type="email" name="email" id="correo" placeholder="Correo Electrónico">
                     </label>
                     <label>
                         <i class='bx bx-lock-alt'></i>
                         <input type="password" name="contra" id="contra" placeholder="Contraseña">
                         <i class='idolo bx bx-low-vision' id="eye"></i>
                     </label>
                     <input type="submit" id="valido" value="Registrarse">
                 </form>
             </div>
         </div>
     </div>

     <!-- INICIAR SESIÓN -->
     <div class="container-form login hide">
         <div class="information">
             <div class="info-childs">
                 <h2>¡¡Bienvenido Otra Vez!!</h2>
                 <p>Si estas registrado Inicia Sesión con tus datos</p>
                 <input type="button" value="Registrarse" id="sign-up">
             </div>
         </div>
         <div class="form-information">
             <div class="form-information-childs">
                 <h2>Iniciar Sesión</h2>
                 <div class="icons">
                  <i class='bx bxl-google'></i>
                  <i class='bx bxl-facebook'></i>
                  <i class='bx bxl-apple'></i>
                 </div>
                 <p>Ingresa tu Correo Eléctronico y Contraseña para Iniciar Sesión</p>
                 <form class="form" id="total" method="POST" action="{% url 'login' %}">
                     {% csrf_token %}
                     <label>
                         <i class='bx bx-envelope'></i>
                         <input type="email" name="correo2" id="correo2" placeholder="Correo Electrónico">
                     </label>
                     <label>
                         <i class='bx bx-lock-alt'></i>
                         <input type="password" name="contra2" id="contra2" placeholder="Contraseña">
                     </label>
                     <input type="submit" value="Iniciar Sesión">
                 </form>
             </div>
         </div>
     </div>
 </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <script>
    /* ANIMACION DE INICIO DE SESION Y REGISTRO*/
    const btnSignIn = document.getElementById("sign-in"),
          btnSignUp = document.getElementById("sign-up"),
          formRegister = document.querySelector(".register"),
          formLogin = document.querySelector(".login");

    btnSignIn.addEventListener("click", e => {
        formRegister.classList.add("hide");
        formLogin.classList.remove("hide");
        document.getElementById("correo2").value = "";
        document.getElementById("contra2").value = "";
    });

    btnSignUp.addEventListener("click", e => {
        formLogin.classList.add("hide");
        formRegister.classList.remove("hide");
        document.getElementById("nombre").value = "";
        document.getElementById("user").value = "";
        document.getElementById("fono").value = "";
        document.getElementById("correo").value = "";
        document.getElementById("contra").value = "";
    }); /* FIN ANIMACION*/

    /* VALIDACIONES REGISTRARSE*/

    /* INICIO VALIDACION NOMBRE*/
    document.getElementById("nombre").addEventListener("blur", function() {
        validarNombre(this.value);
    });

    function validarNombre(){
        var nombre = document.getElementById("nombre").value;
        var regex = /^[a-zA-Z\s]{0,150}$/;
        if(regex.test(nombre)){
            cantidad = document.getElementById("nombre").value.length;
            valor = document.getElementById("nombre").value;

            if(cantidad == 0){
                Swal.fire({
                    icon: "error",
                    title: "Nombre sin datos",
                    text: "Ingrese su nombre completo"
                });
            }
        }else {
            Swal.fire({
                icon: "error",
                title: "Nombre no valido",
                text: "Solo se permiten letras"
            });
            return false;
        }return true;
    } /* FIN VALIDACION NOMBRE */

    /* VALIDAR USUARIO */
    document.getElementById("user").addEventListener("blur", function() {
        validarUsuario(this.value);
    });

    function validarUsuario(){
        var user = document.getElementById("user").value;
        var regex = /^[a-zA-Z0-9_-\s]{0,50}$/;
        if (regex.test(user)){
            cantidad = document.getElementById("user").value.length;
            valor = document.getElementById("user").value;

            if(cantidad == 0){
                Swal.fire({
                    icon: "error",
                    title: "Usuario sin datos",
                    text: "Ingrese un usuario"
                });
            }
        } else {
            Swal.fire({
                icon: "error",
                title: "Usuario no valido",
                text: "Solo se permiten letras, numeros, puntos, guion y guion bajos."
            });
            return false;
        }return true;
    } /* FIN VALIDACION USUARIO */

    /* VALIDACION DE TELEFONO */
    document.getElementById("fono").addEventListener("blur", function() {
        validarNumeros(this.value);
    });

    function validarNumeros(){
        var fono = document.getElementById("fono").value;
        var regex = /^[0-9]{0,}$/;

        if(regex.test(fono)){
            cantidad = document.getElementById("fono").value.length;
            valor = document.getElementById("fono").value;
            
            if(cantidad < 9 || cantidad > 9){
                Swal.fire({
                    icon: "error",
                    title: "Teléfono invalido",
                    text: "El número debe ser de 9 digitos (añadir el 9)"
                });
                return false;
            }

            if(cantidad == 0){
                Swal.fire({
                    icon: "error",
                    title: "Teléfono sin datos...",
                    text: "Por favor introduzca un numero de telefono"
                });
                return false;
            }
        }else{
            Swal.fire({
                icon: "error",
                title: "Teléfono invalido",
                text: "solo se permiten números"
            });
            return false;
        }return true;
    } /* FIN VALIDACION TELEFONO */

    /* VALIDACION CORREO*/
    document.getElementById("correo").addEventListener("blur", function() {
        validarCorreo(this.value);
    });

    function validarCorreo(){
        cantidad = document.getElementById("correo").value.length;
        valor = document.getElementById("correo").value;

        if(cantidad == 0){
            Swal.fire({
                icon: "error",
                title: "Correo Eléctronico sin datos...",
                text: "Por favor introduzca un Correo Eléctronico"
            });
            return false;
        }else{
            var correo = document.getElementById("correo").value;
            var regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            if(regex.test(correo)){
                if(correo == "mart.rozas@duocuc.cl"){
                    Swal.fire({
                        icon: "error",
                        title: "Correo Eléctronico ya existe",
                        text: "Ingrese otro correo"
                    });
                    return false;
                }
            }else{
                Swal.fire({
                    icon: "error",
                    title: "Correo Eléctronico no valido",
                    text: "Ingrese un correo valido ej: damianpizarro@gmail.com"
                });
                return false;
            }
        }return true;
    } /* FIN VALIDACION CORREO */

    /* VALIDACION CONTRASEÑA*/
    function validarContraseña(){
        cantidad = document.getElementById("contra").value.length;
        valor = document.getElementById("contra").value;

        if(cantidad == 0){
            Swal.fire({
                icon: "error",
                title: "Contraseña sin datos...",
                text: "Ingrese una contraseña válida"
            });
            return false;
        }else{
            var contra = document.getElementById("contra").value;
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d\s])[a-zA-Z\d\S]{8,}$/;

            if(regex.test(contra)){
            }else{
                Swal.fire({
                    icon: "error",
                    title: "Contraseña no valida",
                    text: "Requiere minimo 8 digitos, al menos una letra minúscula, una letra mayúscula, un número y un signo especial"
                });
                return false;
            }
        }return true;
    } /* FIN VALIDACION CONTRASEÑA */ 

    /* MOSTRAR CONTRASEÑA */
    var eye = document.getElementById("eye");
    var contra = document.getElementById("contra");
    eye.addEventListener("click", function(){
        if(contra.type == "password"){
            contra.type = "text";
            eye.className = 'idolo bx bx-show';
        }else{
            contra.type = "password";
            eye.className = 'idolo bx bx-low-vision';
        }
    });

    /* VALIDACION REGISTRO*/
    document.getElementById("miFormulario").addEventListener("submit", function(event) {
        event.preventDefault(); // Evita que el formulario se envíe automáticamente
        
        var nombre = document.getElementById("nombre").value;
        var usuario = document.getElementById("user").value;
        var fono = document.getElementById("fono").value;
        var correo = document.getElementById("correo").value;
        var contra = document.getElementById("contra").value;
        var validacionesExitosas = 0;

        if (nombre.trim() == '' || usuario.trim() == '' || fono.trim() == '' || correo.trim() == '' || contra.trim() == '') {
            // Si el nombre, Usuario, Fono, Correo o contraseña están vacíos, muestra un mensaje de error
            Swal.fire({
                icon: "error",
                title: "Formulario no válido...",
                text: "Ingrese todos los datos"
            });
        }else{ // Si el formulario está completo, validara que si esten correctos
            if (validarNombre()) validacionesExitosas++;
            if (validarUsuario()) validacionesExitosas++;
            if (validarNumeros()) validacionesExitosas++;
            if (validarCorreo()) validacionesExitosas++;
            if (validarContraseña()) validacionesExitosas++;
            // Verificar si todas las validaciones fueron exitosas
            if (validacionesExitosas === 5) {
                // Si todas las validaciones son exitosas, envía el formulario
                const formData = new FormData();
                formData.append('nombre', nombre);
                formData.append('user', usuario);
                formData.append('fono', fono);
                formData.append('email', correo);
                formData.append('contra', contra);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                fetch('{% url "register" %}', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        Swal.fire({
                            icon: "success",
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            window.location.href = "{% url 'index' %}";
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: data.message
                        });
                    }
                });
            }   
        }
    }); /* FIN VALIDACION REGISTRO */

    /* TERMINO DE VALIDACIONES REGISTRARSE */


    /* INICIO VALIDACIONES INICIO SESION */

    /* VALIDACION CORREO INCIO SESION*/
    document.getElementById("correo2").addEventListener("blur", function() {
        validarCorreo2(this.value);
    });

    function validarCorreo2(){
        cantidad = document.getElementById("correo2").value.length;
        valor = document.getElementById("correo2").value;

        if(cantidad == 0){
            Swal.fire({
                icon: "error",
                title: "Correo Eléctronico sin datos...",
                text: "Por favor introduzca un Correo Eléctronico"
            });
        }else{
            var correo2 = document.getElementById("correo2").value;
            var regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            if(regex.test(correo2)){
            }else{
                Swal.fire({
                    icon: "error",
                    title: "Correo Eléctronico no valido",
                    text: "Ingrese un correo valido ej: damianpizarro@gmail.com"
                });
            }
        }
    } /* FIN VALIDACION CORREO */ 

    /* VALIDACION DE CONTRASEÑA */
    document.getElementById("contra2").addEventListener("blur", function() {
        validarContraseña2(this.value);
    });

    function validarContraseña2(){
        cantidad = document.getElementById("contra2").value.length;
        valor = document.getElementById("contra2").value;

        if(cantidad == 0){
            Swal.fire({
                icon: "error",
                title: "Contraseña sin datos...",
                text: "Ingrese una contraseña válida"
            });
        }else{
            var contra2 = document.getElementById("contra2").value;
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d\s])[a-zA-Z\d\S]{8,}$/;

            if(regex.test(contra2)){
            }else{
                Swal.fire({
                    icon: "error",
                    title: "Contraseña no valida",
                    text: "Requiere al menos una letra minúscula, una letra mayúscula, un número y un signo especial"
                });
            }
        }
    }

    /* VALIDACION CORREO VALIDO*/
    document.getElementById("total").addEventListener("submit", function(event) {
        event.preventDefault(); // Evita que el formulario se envíe automáticamente
        
        cantidadC = document.getElementById("correo2").value.length;
        cantidadPass = document.getElementById("contra2").value.length;
        
        if(cantidadC == 0 || cantidadPass == 0){
            Swal.fire({
                icon: "error",
                title: "Inicio Sesión sin datos...",
                text: "Ingrese Correo Eléctronico o Usuario y Contraseña"
            });
        }else{
            var correo2 = document.getElementById("correo2").value;
            var contra2 = document.getElementById("contra2").value;

            const formData = new FormData();
            formData.append('correo2', correo2);
            formData.append('contra2', contra2);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            fetch('{% url "login" %}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    Swal.fire({
                        icon: "success",
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.href = "{% url 'index' %}";
                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: data.message
                    });
                }
            });
        }
    }); /* FIN VALIDACION INICIO DE SESION VALIDO */
 </script>

</body>
</html>
