<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORETECH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="../img/LogoCoreTech.png" alt="" width="40" height="34" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="../html/index.html">CoreTech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../html/index.html"><i class='bx bxs-home'></i>
              Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../html/acercade.html"><i class='bx bxs-contact'></i> Quiénes somos</a>
          </li>
          <li class="nav-itemCarrito">
            <a class="nav-link active" aria-current="page" href="../html/carrocompras.html"><i
                class='bx bx-cart-download'></i> Carro de compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../html/cuenta.html"><i class='bx bx-user'></i>
              Cuenta</a>
          </li>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Categoria
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="../html/GamaAlta.html">Gama Alta</a></li>
              <li><a class="dropdown-item" href="../html/GamaMedia.html">Gama Media</a></li>
              <li><a class="dropdown-item" href="../html/GamaBaja.html">Gama Baja</a></li>
            </ul>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
          <a class="btn btn-primary" href="../html/index.html" role="button">Buscar</a>
        </form>
      </div>
    </div>
  </nav>


  <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Agregado al Carro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Producto agregado exitosamente</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Entendido</button>
        </div>


      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregado al Carro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Producto agregado exitosamente</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Entendido</button>
      </div>

    </div>
  </div>
</div>

        <div>
          <br>
          <h1 style="color: white;">CoreTech</h1>
            <h4 style="color: white;">Seleccione sus productos</h4>
            <br>
        </div>
      <center>
        <div class="container">
        <div class="row "> <!--Fila 1-->
              <div class="col-md-3 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="../img/gamaAlta1.png" class="card-img-top tam" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Chasis Supertorre Obsidian Series 1000D</h5>
                      <p class="card-text">El Obsidian Series 1000D es el chasis de PC supertorre definitivo...</p>
                      <h6>$599.990 CLP</h6>
                      <a href="../html/torrega1.html" class="btn btn-primary">Seleccionar</a>
                    </div>
                  </div>

              </div>
            <div class="col-md-3 col-sm-12">
                
                    <div class="card" style="width: 18rem;">
                        <img src="../img/Caja-GA-2.jpg" class="card-img-top tam" alt="..."  height="300px">
                        <div class="card-body">
                          <h5 class="card-title">Chasis de torre completa Graphite Series™ Arctic White 760T</h5>
                          <p class="card-text">El chasis Graphite Series 760T está diseñado para ensamblar PCs vis...</p>
                          <h6>$249.990 CLP</h6>
                          <a href="../html/torrega2.html" class="btn btn-primary">Seleccionar</a>
                        </div>
                    </div>
    
                
            </div>
            <div class="col-md-3 col-sm-12">
                
                    <div class="card" style="width: 18rem;">
                        <img src="../img/gamaAlta3.png" class="card-img-top tam" alt="..."  height="300px">
                        <div class="card-body">
                          <h5 class="card-title">Chasis para PC ATX tipo torre CORSAIR 7000D AIRFLOW: Negro </h5>
                          <p class="card-text">El CORSAIR 7000D AIRFLOW es un chasis ATX tipo torre para los di...</p>
                          <h6>$324.990 CLP</h6>
                          <a href="../html/torrega3.html" class="btn btn-primary">Seleccionar</a>
                        </div>
                    </div>
    
               
            </div>
            <div class="col-md-3">
                
                    <div class="card" style="width: 18rem;">
                        <img src="../img/gamaAlta4.png" class="card-img-top" alt="..."  height="300px">
                        <div class="card-body">
                          <h5 class="card-title">Chasis para PC ATX tipo torre CORSAIR 7000D AIRFLOW: Blanco</h5>
                          <p class="card-text">El CORSAIR 7000D AIRFLOW es un chasis ATX tipo torre para los di...
                            <h6>$324.990 CLP</h6>
                          </p>
                          <a href="../html/torrega4.html" class="btn btn-primary">Seleccionar</a>
                        </div>
                    </div>
               
            </div>
            
        </div>

        <div class="row"><!--Fila 3-->
          <div style="color: white;">
            <br><br>
            <h3 style="text-align: center; color: white;">Productos en oferta
            
            </h3>
            <br>
          </div>
    
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="../img/placaasus.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Placa Madre Asus Prime a520-K</h5>
                <p class="card-text">Placa madre. Velocidad M.2 (Hasta 32Gbps)</p>
                <h5>$73.990</h5>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">Añadir al carro</a>
              </div>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="../img/cargador.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cargador Tipo C</h5>
                <p class="card-text">Cargador alternativo con carga rápida, cable USB tipo C</p>
                <h5>$18.000</h5>
                <br><br>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">Añadir al carro</a>
              </div>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="../img/g203.png" class="card-img-top" alt="..." height="270px">
              <div class="card-body">
                <h5 class="card-title">Mouse Logitecg g203</h5>
                <p class="card-text">Con una velocidad de transmisión de 1 ms, el G203 es 8 veces más rápido que el mouse estándar</p>
                <h5>$16.000</h5>
                <br>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">Añadir al carro</a>
              </div>
            </div>
          </div>
        </div>



      </div><!--Fin contenedor-->
    </center>  
          


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../js/java.js"></script>

  </body>
</html>