<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CORETECH</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  <style>
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; /* Asegura que la tarjeta tenga una altura completa */
    }
    .card-text {
        flex-grow: 1; /* Permite que la descripción ocupe el espacio disponible */
        overflow: hidden; /* Oculta cualquier contenido desbordante */
        text-overflow: ellipsis; /* Agrega puntos suspensivos al contenido desbordante */
        max-height: 100px; /* Ajusta esta altura según necesites */
    }
    .card-footer {
        margin-top: auto; /* Empuja el botón al final del card */
    }
    .card {
        height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
    }
    .card-img-top {
        height: 260px; /* Ajusta esta altura según necesites */
        object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="{% static 'img/LogoCoreTech.png' %}" alt="Logo CoreTech" width="40" height="34" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="{% url 'index' %}">CoreTech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><i class='bx bxs-home'></i> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'acercade' %}"><i class='bx bxs-contact'></i> Quiénes somos</a>
          </li>
          <li class="nav-itemCarrito">
            <a class="nav-link active" aria-current="page" href="{% url 'carrocompras' %}"><i class='bx bx-cart-download'></i> Carro de compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'cuenta' %}"><i class='bx bx-user'></i> Cuenta</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categoria
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'GamaAlta' %}">Gama Alta</a></li>
              <li><a class="dropdown-item" href="{% url 'GamaMedia' %}">Gama Media</a></li>
              <li><a class="dropdown-item" href="{% url 'GamaBaja' %}">Gama Baja</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
          <a class="btn btn-primary" href="{% url 'index' %}" role="button">Buscar</a>
        </form>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productModalLabel">Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img id="productImage" src="" alt="Producto" class="img-fluid mb-3">
          <h5 id="productName"></h5>
          <p id="productDescription"></p>
          <h6 id="productPrice"></h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <a href="#" id="addToCartButton" class="btn btn-primary">Añadir al carro</a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <br>
    <h1 style="color: white;">CoreTech</h1>
    <h4 style="color: white;">Seleccione sus productos</h4>
    <br>
  </div>

  <center>
    <div class="container">
      <div class="row mb-4"> <!--Fila 1-->
        {% for producto in productos %}
          {% if forloop.counter0|divisibleby:4 and not forloop.first %}
            </div><div class="row mb-4"> <!-- Añadido margen inferior -->
          {% endif %}
          <div class="col-md-3 col-sm-12 mb-4"> <!-- Añadido margen inferior -->
            <div class="card h-100" style="width: 18rem;">
              <img src="{{ producto.image_url }}" class="card-img-top tam" alt="{{ producto.nombre }}">
              <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion|truncatewords:20 }}</p>
                <h6>${{ producto.precio|intcomma }} CLP</h6>
              </div>
              <div class="card-footer">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal"
                        data-name="{{ producto.nombre }}"
                        data-description="{{ producto.descripcion }}"
                        data-price="${{ producto.precio }} CLP"
                        data-image="{{ producto.image_url }}"
                        data-producto-id="{{ producto.id }}">
                  Seleccionar
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </center>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/java.js' %}"></script>
  <script>
    const productModal = document.getElementById('productModal');
    productModal.addEventListener('show.bs.modal', event => {
      const button = event.relatedTarget;
      const name = button.getAttribute('data-name');
      const description = button.getAttribute('data-description');
      const price = button.getAttribute('data-price');
      const image = button.getAttribute('data-image');
      const productoId = button.getAttribute('data-producto-id');

      const modalTitle = productModal.querySelector('.modal-title');
      const modalBodyImage = productModal.querySelector('#productImage');
      const modalBodyName = productModal.querySelector('#productName');
      const modalBodyDescription = productModal.querySelector('#productDescription');
      const modalBodyPrice = productModal.querySelector('#productPrice');
      const addToCartButton = productModal.querySelector('#addToCartButton');

      modalTitle.textContent = name;
      modalBodyImage.src = image;
      modalBodyName.textContent = name;
      modalBodyDescription.textContent = description;
      modalBodyPrice.textContent = price;

      // Cambiar el enlace del botón "Añadir al carro"
      addToCartButton.href = `{% url 'agregar_al_carrito' 0 %}`.replace('0', productoId);
    });
  </script>
</body>
</html>
